nav {
    height: 60px;
    width: 100%;
    background-color: #152025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    padding: 30px;
    color: white;
    z-index: 9999;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 30px;
    bottom: 0;
    padding: 15px;
    font-size: 30px;
}

nav .logo span {
    margin-left: 15px;
}

nav a {
    display: block;
    height: 60px;
}

nav div.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100%;
    transition: 0.1s linear;
    font-weight: 600;
    opacity: 0.8;
    color: white;
}

nav div.link:hover {
    opacity: 1;
}

main.report-page {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.static-fullscreen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

.filter {
    background-color: #000000cc;
}

main.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    z-index: 8000;
}

.decor-line {
    z-index: -100;
    position: fixed;
    background-color: white;
    min-width: 1px;
    min-height: 1px;
}

.decor-line.vertical {
    top: 0;
    bottom: 0;
}

.decor-line.horizontal {
    left: 0;
    right: 0;
}

.decor-line.left {
    left: 250px;
}

.decor-line.right {
    right: 250px;

}

.decor-line.horizontal-1 {
    top: 110px;
}

.decor-line.horizontal-2 {
    top: 400px;
}

.decor-line.horizontal-3 {
    left: 250px;
    right: 250px;
    bottom: 100px;
}


.quote {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-style: italic;
}

.quote span {
    font-size: 40px;
}

.quote .author {
    align-self: flex-end;
    font-size: 30px;
    font-style: normal;
    margin-top: -15px;
    margin-right: 50px;
    opacity: 0.7;
}

.quote span:nth-child(2) {
    margin-left: -25px;
}

.quote span:nth-child(2) {
    margin-left: 25px;
}

.about-section {
    width: calc(100vw - 500px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px;
    left: 250px;
    right: 250px;
    bottom: 100px;
    font-size: 633px;
    text-align: justify;
    color: white;
    gap: 34px;
    overflow: hidden;
    opacity: 0.05;
}

.about-section div {
    transform: translateX(-16px) translateY(-6px);
}

.about-section div:nth-child(1) {
    animation: 2s flash linear infinite;
}

.about-section div:nth-child(2) {
    animation: 2s flash linear infinite 0.5s;
}

.about-section div:nth-child(3) {
    animation: 2s flash linear infinite 1s;
}

.about-section::first-letter {
    margin-left: -999px;
}

@keyframes flash {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}